name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "Welcome to VTOP 2.0! We appreciate your contribution. One of our maintainers will review your issue soon."
          pr-message: "Thank you for contributing to VTOP 2.0! We're excited to review your PR. Please ensure you've followed the contributing guidelines."
